<template>
  <div if.bind="isBusy" class="splash">
    <i class="fa fa-spinner fa-spin"></i>
    <div class="message">${busyContent}</div>
  </div>
  <h2></h2>
  <div class="row">
    <div class="col-md-4">
      <compose
        model.bind="metadata"
        view-model="./templates/metadata">
      </compose>
      <compose
        model.bind="actions"
        view-model="./templates/actions">
      </compose>
      <!--<ul class="list-group">
        <a href="#" class="list-group-item">Actors</a>
        <a href="#" class="list-group-item">Trivia</a>
        <a href="#" class="list-group-item">Awards</a>
        <a href="#" class="list-group-item">Technical</a>
      </ul>-->
    </div>
    <div class="col-md-8">
      <compose
        model.bind="detail.data"
        view-model.bind="detail.viewModel">
      </compose>
    </div>
  </div>
</template>
