<template>
  <div class="row">
    <div class="col-md-4">
      <compose
        model.bind="metadata"
        view-model="./templates/metadata">
      </compose>
      <ul class="list-group">
        <a href="#" class="list-group-item">Actors</a>
        <a href="#" class="list-group-item">Trivia</a>
        <a href="#" class="list-group-item">Awards</a>
        <a href="#" class="list-group-item">Technical</a>
      </ul>
    </div>
    <div class="col-md-8">
      <compose
        model.bind="actorList"
        view-model="./templates/actor-list">
      </compose>
    </div>
  </div>
</template>
